* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style-type: none;
    background: #ebd9ab; /* fallback for old browsers */
    background: -webkit-linear-gradient(
        to right,
        #d3ab3d,
        #f1cb68
    ); /* Chrome 10-25, Safari 5.1-6 */
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

h1 {
    display: none;
}
.pokemon-logo {
    display: flex;
    justify-content: center;
    padding: 4rem;
}
img {
    height: 8rem;
}
.pokemon__navigation {
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding: 12rem;
    padding-bottom: 2rem;
    padding-top: 2rem;
}
.pokemon__navigation-home {
    font-size: 25px;
    font-weight: bold;
    border: 1px solid #d3ab3d;
    padding: 2rem;
    border-radius: 1rem;
    color: rgb(52, 70, 231);
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.pokemon__navigation-home:hover {
    background-color: #d3ab3d;
}
.pokemon__navigation-favourites {
    font-size: 25px;
    font-weight: bold;
    border: 1px solid rgb(228, 191, 29);
    padding: 2rem;
    border-radius: 1rem;
    color: rgb(52, 70, 231);
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.pokemon__navigation-favourites:hover {
    background-color: #dfc21c;
}
h2 {
    padding: 3rem;
    display: flex;
    justify-content: center;
    padding-bottom: 1rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.pokemon-images {
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding-top: 0.2rem;
}
.pokemon-description {
    text-align: center;
}
.characteristic {
    margin: 2rem;
}

.button-add {
    display: flex;
    justify-content: center;
    align-content: center;
    border: #3320db;
    cursor: pointer;
    padding-top: 2rem;
}
.add-favourite {
    border: 2px solid #dfc21c;
    border-radius: 1rem;
    padding: 0.5rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    color: rgb(52, 70, 231);
}
.add-favourite:hover {
    color: #3320db;
    background-color: #dfc21c;
}
